<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lqc.mylocalguide"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lqc_logo_lo"
        android:label="@string/app_name"
        android:logo="@drawable/lqc_logo_lo"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://lq-creative.com/items” -->
                <data
                    android:host="lq-creative.com"
                    android:pathPrefix="/items/pcc-event-marketing/"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
                <!--
        Accepts URIs that begin with "example://gizmos”
        <data android:scheme="example"
              android:host="gizmos" />
                -->
            </intent-filter>
        </activity>

        <receiver
            android:name="com.lqc.mylocalguide.broadcasting.AutoStart"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="500" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://lq-creative.com/items” -->
                <data
                    android:host="lq-creative.com"
                    android:pathPrefix="/*"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
                <!--
        Accepts URIs that begin with "example://gizmos”
        <data android:scheme="example"
              android:host="gizmos" />
                -->
            </intent-filter>
        </receiver>
    </application>

</manifest>